<nav class="navbar navbar-default" role="navigation" ng-controller="NavCtrl">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/pups">MeetPup</a>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/signup" ng-hide="Auth.isLoggedIn()">SignPup</a></li>
      <li><a href="/login" ng-hide="Auth.isLoggedIn()">Dogin</a></li>
      <li><a href="/matches" ng-hide="Auth.isLoggedOut()" ng-show="Auth.isLoggedIn">My Matches</a><li>
      <li><a href="/mypup" ng-hide="Auth.isLoggedOut()" ng-show="Auth.isLoggedIn()">My Pup </a></li>
      <li><a href="#" ng-click="logout()" ng-show="Auth.isLoggedIn()">Logout</a></li>
    </ul>
  </div>
</nav>