<div class="well" ng-repeat="pup in pups">
  <h3>{{pup.name}}</h3>
  <p>
    {{pup.bio}}</p>
  <img class="img-responsive" ng-src="{{pup.image}}">
<!--   <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTic1T6DwvKV5lKNEekhSUGaUgsNIhGKcm8xRXl27ITe_nK6pLLCVZ3crCp"> -->
  <div class="buttons">
  <a href="#" ng-click="hidePup()" class="btn btn-primary">&larr; Next Pup 🐶 </a>
  <a href="#" ng-click="matchPup(pup)" class="btn btn-primary"> Let's Play! 👯 &rarr;</a>
  </div>
</div>



<!-- <span class="glyphicons glyphicons-dog"></span> -->