body{
  font-family: 'Playfair Display', serif;
  background-color: blue;
}

legend {
  /*display: inline;
  width: auto;
  padding: 0;
  margin: 0;
  font-size: medium;
  line-height: normal;*/

  color: purple;
  border: 0;
  border-bottom: none;
}

#navbar-header{
  background-color: grey;
}

btn btn-primary{
  
}