
html, body {
  background-color: #496386;
  height: 100%;
  font-family: 'Playfair Display', serif;
}
.jumbotron {
  background-color: #F8E9D6;
  border-radius: 20px;
  margin: 15px;
  text-align: left;
  padding-left: 20px;
/*For Desktop*/
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
}


.well{
  background-color: #F8E9D6;
  border-radius: 20px;
  margin: 15px;
}

.well.buttons{
  align-items: center;
}
.navbar{
  background-color: #F8E9D6;
  color: black;
}

.btn-primary{
  background-color: #496386;
  line-height: 40px;
  font-size: 15px;
  align-items: center;
  color: #F8E9D6;
}
.img-responsive{
  border-radius: 20px;
  padding: 10px;
}
