
html, body, {
  background-color: #E6DDDE;
  height: 100%;
  font-family: 'Open Sans Condensed';
}

#well{
  background-color: #E6DDDE;
}
/*body{
  font-family: 'Playfair Display', serif;
  background-color: blue;
}*/



#navbar{
  background-color: grey;
}

btn btn-primary{

}